<!DOCTYPE html>
<html>
<head>
    <title>Image Watermark Tool</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

        * {
        font-family: "Ubuntu", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
        :root {
        --blue: #2a2185;
        --blue2: #4236ce;
        --white: #fff;
        --gray: #f4f4f4;
        --gray2: #eeecec;
        --black1: #222;
        --black2: #999;
        }
    </style>
<style>
    body {
        background: var(--gray);
        color: var(--black1);
        text-align: center;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: var(--white);
        background:var(--blue);
        padding: 20px;
        margin: 0;
    }

    form {
        margin: 20px;
        padding: 20px;
        background: var(--white);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }


    input[type="file"] {
        padding: 10px;
        border: 2px solid var(--blue);
        border-radius: 5px;
        width: 20%;
        margin-bottom: 20px;
    }

    input[type="number"]{
      padding: 8px;
      border: 2px solid var(--blue);
      border-radius: 5px;
      margin-bottom: 20px;
      width: 15%;

    }

     input[type="text"]{
      padding: 12px;
      border: 2px solid var(--blue);
      border-radius: 5px;
      margin-bottom: 20px;
      width: 70%;

     }

    button {
        background: var(--blue);
        color: var(--white);
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background: var(--blue2);
    }

    #result, #download {
        margin: 20px;
        padding: 20px;
        background: var(--white);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>
</head>
<body>
    <h1>Image Watermark Tool</h1>
    <form id="formwatermark" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="text" name="watertext" placeholder="Watermark Text">
        <input type="number" name="fontsize" placeholder="Font Size">
        <button type="submit">Add Watermark</button>
    </form>

    {{!-- <div id="result">
    </div>
    <div id="download">
        <a id="download-link" href="#" download="resized_image.jpg" style="display: none;">Download</a>
    </div> --}}

    {{#if watermarkedImage}}
    <h2>Watermarked Image</h2>
    <img src="{{watermarkedImage}}" alt="Watermarked Image">
    {{/if}}


    <script>
        document.addEventListener('DOMContentLoaded', ()=>{
        const formwatermark = document.getElementById('formwatermark');
        const resultContainer = document.getElementById('result');
        const downloadLink = document.getElementById('download-link');

            formwatermark.addEventListener('submit', (e)=>{
                e.preventDefault();

                const formData= new FormData(formwatermark);
                console.log(formData);

                fetch('/watermark', {
                    method: 'POST',
                    body : formData,
                })
        

            });

        });

    </script>
</body>
</html>
